@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Lato:wght@300;400;700&family=Lobster+Two:wght@400;700&display=swap');

/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lobster Two', cursive;
 */


.lobby {
  background-image: url("https://images.unsplash.com/photo-1519205677494-dde2a43253da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1342&q=80");
  background-size: cover;
  display: grid;
  grid-template-columns: 31% 62%;
  grid-template-rows: auto;
  grid-column-gap: 5%;
  /* height: 100vh; */
}

/* =====SIDEBAR===== */
.side-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-logo {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.logoimg {
  width: 100%;
}

.link-form {
  background-color: white;
  width: 90%;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 3px;
}

.lobbyform-title-area {
  text-align: center;
  margin: 15px 0;
}

.lobbyform-title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
}

.add-sugg {
  background-color: #96d6d0;
  border: none;
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  padding: 8px;
  width: 170px;
  margin: 15px 0;
  transition: all 0.3s;
}

.add-sugg:hover {
  background-color: #6bb9b2;
}

.add-sugg:focus {
  box-shadow: none;
}

.vote-list {
  background-color: rgba(71, 70, 70, 0.75);
  width: 90%;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 30px;
}

.votebox-title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.vote {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  font-size: 1.2em;
}

.suggestions {
  list-style: none;
  padding: 0;
}

.suggestion {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  transition: all 0.3s;
}

.suggest {
  transition: all 0.3s;
}

.suggest:hover {
  font-size: 1.11em;
  color: #96d6d0;
  cursor: pointer;
}

.share-button {
  background-color: #d7e9e8;
  color: rgba(71, 70, 70, 0.75);
  font-family: 'Lato', sans-serif;
  width: 200px;
  padding: 9px;
  border-radius: 2px;
  margin-bottom: 150px;
}

.share-button:focus {
  box-shadow: none;
  outline: none;
}

/* ========== */

/* =====MODAL===== */
.sharelink {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.copy-button {
  font-family: 'Lato', sans-serif;
  background-color: #d7e9e8;
  transition: all 0.4s;
}

.copy-button:hover {
  background-color: #93b1b0;
}

.copy-button:focus {
  box-shadow: none;
}

/* ========== */

/* =====LOBBY MAIN===== */
.lobby-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.title-font {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  color: #edf6f9;
  text-transform: uppercase;
}

.scores {
  width: 100%;
  height: 75%;
  background-color: white;
  border-radius: 3px;
}

.suggestions-2 {
  list-style: none;
  padding-top: 30px;
}

.suggestion-2 {
  margin-bottom: 18px;
}

.suggest-2 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #5c5c5c;
}

.score-box {
  width: 92%;
}

.percentage {
  width: 100%;
  height: 30px;
  background-color: rgba(139, 139, 139, 0.35);
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.voteNum {
  color: #4b4949;
  margin-right: 10px;
  font-family: 'Lato', sans-serif;
}

/* ========== */

/* =====RANDOM GENERATOR===== */
.random-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.random-button {
  width: 300px;
  padding: 10px;
  background-color: #76b3a9;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
}

.decision-box {
  width: 90%;
  height: 40%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.decision {
  font-family: 'Lobster Two', cursive;
  animation: scale 2s;
  animation-timing-function: ease-out;
  font-size: 2.2em;
}

.animation1, .animation2, .animation3, .animation4 {
  border-radius: 5px;
  width: 220px;
  height: 75px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 3.5s cubic-bezier(.36, .11, .89, .32);
}

.animation1 {
  animation-delay: 0s;
  background-color: #80ffdb;
}

.animation2 {
  animation-delay: 1s;
  background-color: #64dfdf;
}

.animation3 {
  animation-delay: 2s;
  background-color: #48bfe3;
}

.animation4 {
  animation-delay: 3s;
  background-color: #4ea8de;
}

.item {
  z-index: 100;
  padding: 5px;
}

@keyframes scale {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
/* ========== */
