@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Lato:wght@300;400;700&display=swap');

/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
 */


/* =====LOBBY===== */
.lobby {
  background-image: linear-gradient(to bottom right, #2ec4b6, #eff1f4);
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: auto;
  grid-column-gap: 5%;
}

.logoimg {
  width: 300px;
}

.link-form {
  background-color: white;
  width: 90%;
}

ul {
  list-style: none;
}

.vote-list {
  background-color: rgba(71, 70, 70, 0.65);
  width: 90%;
}
